*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
*.pem

# SEOCarbon Dirs Specific
/prd/
/docs/
/.agents/
/skills/
/license.key
.claude
.codex
.gemini
.claude
.cursor
.plan
.gemini
prd/*
docs/*
.plan/*
.cursor/*
AGENTS.md
CLAUDE.md
GEMINI.md
graphify-out/
.mcp.json
boost.json
.plan/
